/* -------------------------------------------
	BASE STYLE
-----------------------------------------------*/
@font-face {
    font-family: 'shadows_into_lightregular';
    src: url('/static/assets/fonts/shadowsintolight-webfont.eot');
    src: url('/static/assets/fonts/shadowsintolight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/assets/fonts/shadowsintolight-webfont.woff2') format('woff2'),
         url('/static/assets/fonts/shadowsintolight-webfont.woff') format('woff'),
         url('/static/assets/fonts/shadowsintolight-webfont.ttf') format('truetype'),
         url('/static/assets/fonts/shadowsintolight-webfont.svg#shadows_into_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html{
	height: 100%;
}
body{
	font-family: shadows_into_lightregular, sans-serif;
	position: relative;
	height: 100%;
	color: white;
}

.is-hidden{
	display: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}
::-moz-placeholder { /* Firefox 19+ */
  color: black;
}
:-ms-input-placeholder { /* IE 10+ */
  color: black;
}
:-moz-placeholder { /* Firefox 18- */
  color: black;
}

/* -------------------------------------------
	BOARD STYLE
-----------------------------------------------*/
body.board{
	background: #3D4B5F;
	color: white;
}

/* -------------------------------------------
	PLAYER STYLE
-----------------------------------------------*/

body.client{
	background-color: black;
}
/* loading spinner */
.loading{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background: rgba(0,0,0,0.4);
	width: 100%;
	height: 100%;	
}
.loading-inner{
	width: 100%;
	height: 100px;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -50px;
	text-align: center;
}

/* top bar */
.top-bar{
	background: #940202;
	padding: 60px 15px;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 190px;
    z-index: 100;
}
.top-bar:before{
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	background: url('/static/assets/img/blut.png') left top repeat-x; 
	height: 50px;
	width: 100%;
}
.top-bar input{
	width: 40%;
    min-width: 150px;
    font-size: 30px;
    padding: 10px;
    background: #C04545;
    border: none;
    color: #000;

}

.choose-tile-button{
	font-size: 30px;
    padding: 10px;
    border: none;
    border-radius: 0;
    position: relative;
    top: -7px;
}
/* Mini game */
.mini-game{
	padding-top: 200px;
	height: 100%;
	position: relative;	
}
.mini-game-inner{
	position: absolute;
	bottom: 20%;
	left: 50%;
	margin-left: -30%;
	font-size: 30px;
}
.mini-game-btn{
	border-radius: 0;
	border: none;
	background-color: purple;
	width: 60%;
	height: 200px;
	max-width: 500px;
	margin-top: 50px;
	font-size: 30px;
}

