<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Summon of BeeR- Board</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
    <h1>I´m the Board</h1>
    <div id="messages">Here comes message:</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', function() {
            socket.emit('board connected', {data: 'Board connected!'});
        });

        socket.on('button pushed', function(msg) {
            console.log(msg);
            $('#messages').append($('<li>').text(msg.data));
        });
    </script>
  </body>
</html>
