<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>BeeR - Board</title>

	<link href="static/assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/assets/css/game.css" rel="stylesheet">

</head>
<body class="board">

	<div class="intro text-center">
		<h1>BeeR DaemoN</h1>
		<p>Peform the most rituals and summon the mighty beer daemon</p>
	</div>
	<div class="players"></div>

	<table class="board-tbl">
		<tbody>
			<tr>
				<td class="tile-1">
					<div class="board-tbl-inner">

					</div>
				</td>
				<td class="tile-2">
					<div class="board-tbl-inner">

					</div>
				</td>
				<td class="tile-3">
					<div class="board-tbl-inner">

					</div>
				</td>
			</tr>
			<tr>
				<td class="tile-4">
					<div class="board-tbl-inner">

					</div>
				</td>
				<td class="tile-5">
					<div class="board-tbl-inner">

					</div>
				</td>
				<td class="tile-6">
					<div class="board-tbl-inner">

					</div>
				</td>
			</tr>
			<tr>
				<td class="tile-7">
					<div class="board-tbl-inner">

					</div>
				</td>
				<td class="tile-8">
					<div class="board-tbl-inner">

					</div>
				</td>
				<td class="tile-9">
					<div class="board-tbl-inner">

					</div>
				</td>
			</tr>
		</tbody>
	</table>

	<!-- Debug helper -->
	<div id="debughelper">
	    <button class="reset-btn btn btn-warning btn-lg">Reset Game</button>
	</div>

	<!-- scripts -->
	<script type="text/javascript" src="static/js/jquery-2.2.0.min.js"></script>
	<!--<script type="text/javascript" src="statics/js/bootstrap.min.js"></script>-->
	<script type="text/javascript" src="static/js/socket.io-1.4.5.js"></script>
	<script type="text/javascript" src="static/js/board.js"></script>
</body>
</html>
