<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>BeeR - Board</title>

	<link href="static/assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/assets/css/game.css" rel="stylesheet">

</head>
<body class="board">
	<ul id="messages">Here comes message:</ul>
	<table class="board-tbl">
		<tbody>
			<tr>
				<td class="tile-1">
					<div class="board-tbl-inner">
						Tile 1
					</div>
				</td>
				<td class="tile-2">
					<div class="board-tbl-inner">
						Tile 2
					</div>
				</td>
				<td class="tile-3">
					<div class="board-tbl-inner">
						Tile 3
					</div>
				</td>
			</tr>
			<tr>
				<td class="tile-4">
					<div class="board-tbl-inner">
						Tile 4
					</div>
				</td>
				<td class="tile-5">
					<div class="board-tbl-inner">
						Tile 5
					</div>
				</td>
				<td class="tile-6">
					<div class="board-tbl-inner">
						Tile 6
					</div>
				</td>
			</tr>
			<tr>
				<td class="tile-7">
					<div class="board-tbl-inner">
						Tile 7
					</div>
				</td>
				<td class="tile-8">
					<div class="board-tbl-inner">
						Tile 8
					</div>
				</td>
				<td class="tile-9">
					<div class="board-tbl-inner">
						Tile 9
					</div>
				</td>
			</tr>
		</tbody>
	</table>   
	<img src="static/assets/img/beer_daemon.png" class="daemon-img">
	<!-- scripts -->
	<script type="text/javascript" src="static/js/jquery-2.2.0.min.js"></script>    
	<script type="text/javascript" src="statics/js/bootstrap.min.js"></script> 
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<script type="text/javascript" src="static/js/board.js"></script>
</body>
</html>