<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BeeR - Player</title>

    <link href="static/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/css/game.css" rel="stylesheet">

</head>
<body class="client text-center">

    <div class="modal fade daemon-login" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Welcome to BeeRDaemon!</h4>
          </div>
          <div class="modal-body">
            <p>You. Are. Drunk. You need moar BeeR. There was a book. Something about rituals. And
                beer. <strong>A beer daemon</strong>. Summoning stuff. Be the favorite toy of
                your new master by complleting the most rituals.
                &hellip;</p>
            <button class="btn btn-primary btn-lg daemon-login-game">
                Connect to drunken deamon ritual party
            </button>
          </div>
          <div class="modal-footer">
              <p>Made by RiverOfVomit.</p>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="loading is-hidden">
        <div class="loading-inner">
            <h2>Contacting daemon...</h2>
            <img src="static/assets/img/loading.gif">

        </div>

    </div>
    <div class="top-bar">
        <div id="choose-tile">
            <form id="choose-tile-form">
                <p>Choose a number between 1-9</p>
                <input type="number" placeholder="1-9">

                <button type="submit" id="choose-tile-button" class="btn btn secondary choose-tile-button">Choose Ritual</button>
            </form>
        </div>
    </div>

    <div id="mini-game" class="mini-game">
        <div class="mini-game-inner is-hidden">
            <h3>Perform the rituals to summon the mighty beer daemon</h3>
            <button class="btn btn-primary btn-lg mini-game-btn">
                Perform rite
            </button>
        </div>


        <!-- <div class="counter">
        Push Button in : <span class="counter-num"></span>s
        </div> -->
    </div>

<!-- Debug helper -->
<div id="debughelper" style="display:none">
    <button class="mini-game-btn">
        Debug mini-game-btn
    </button>
</div>

<!-- scripts -->
<script type="text/javascript" src="static/js/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/socket.io-1.4.5.js"></script>
<script type="text/javascript" src="static/js/client.js"></script>
</body>
</html>
